<footer class="bg-dark text-white text-center py-4">
  <div class="container">
    <div class="row">
      <!-- Company Info -->
      <div class="col-md-4 mt-4">
        <h5>Tech Mart</h5>
        <p>Your one-stop destination for the latest gadgets and accessories. Discover top-quality tech at great prices and stay ahead with the newest innovations.</p>
      </div>

      <!-- Quick Links -->
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled ">
          <li class="mt-3"><a href="/about" class="text-white "><i class="fa-solid fa-circle-info fa-bounce me-2"></i>About Us</a></li>
          <li class="mt-3"><a href="/products" class="text-white"><i class="fa-solid fa-box fa-bounce me-2"></i>Products</a></li>
          <li class="mt-3"><a href="/contact" class="text-white"><i class="fa-solid fa-phone fa-bounce me-2"></i>Contact</a></li>
        </ul>
      </div>

      <!-- Social Media -->
      <div class="col-md-4 mt-4">
        <h5>Follow Us</h5>
        <div class="d-flex justify-content-center gap-3">
          <a href="#" class="text-white"><i class="fa-brands fa-facebook fa-bounce"></i></a>
          <a href="#" class="text-white"><i class="fa-brands fa-discord fa-bounce"></i></a>
          <a href="#" class="text-white"><i class="fa-brands fa-instagram  fa-bounce"></i></a>
          <a href="#" class="text-white"><i class="fa-brands fa-linkedin  fa-bounce"></i></a>
        </div>
        
      </div>
   
      <hr class="mt-4">
     <p class="mt-2">  <i class="fa-regular fa-copyright fa-bounce" ></i> {{year}} Tech Mart. All Rights Reserved.</p>
    </div>
    </div>

    

   
</footer>
